/* Coolors Exported Palette - coolors.co/c0c7c2-898980-55828b-3d5a6c-424b54 */
$clBase: rgba(192, 199, 194, 1);
$clBaseDark: rgba(137, 137, 128, 1);
$clBrand: rgba(85, 130, 139, 1);
$clBrandDark: rgba(61, 90, 108, 1);
$clBrandDarker: rgba(66, 75, 84, 1);

$clGrayLighterer: #f1f1f1;
$clGrayLighter: #eaeaea;
$clGrayLight: #dadada;
$clGray: #b4b4b4;

$clError: #C62828;
$clWarning: #FF8F00;
$clInfo: #00B0FF;
$clSuccess: #2E7D32;
