.grid {
  font-size: 14px;
  .row-search {
    input {
      width: 100%;
    }
  }

  td {
    overflow: hidden;

    position: relative;
    .hidden {
      position: absolute;
      opacity: 0;
      z-index: -999;
    }
    .overlay-hover {
      display: block;
      position: absolute;
      right: 10px;
      top: 50%;
      padding: 5px;
      border-radius: 2px;

      background: $clGrayLight;
      font-size: .8em;

      cursor: pointer;
      transform: translateY(-50%);
    }

    &:hover {
      .overlay-hover {
        display: block;
      }
    }
  }

}
